.services {
    background: $light-bg;

    .box-container {
        @include grid(25rem);

        .box {
            text-align: center;
            padding: 3rem;
            background: $color-white;
            box-shadow: $box-shadow;
            border: $border;
            transition: 0.2s linear;

            &:hover img {
                transform: translateY(-1rem);
            }

            img {
                height: 7rem;
                margin-bottom: 0.5rem;
                transition: 0.2s linear;
            }

            h3 {
                @include titleText(1.7rem);
                padding: 1rem 0;
            }

            p {
                @include graphText(1.4rem);
            }
        }
    }
}
